*.opensdf
*.sdf
*.suo
*.db
*.exe
*.pdb
*.ilk
*.vcxproj.user
*.dll.metagen
ipch/
Versions/
Graphics/
ClothSimulator/._LOG.txt
ClothSimulator/Debug/
ClothSimulator/Release/
ClothSimulator/bin/
ClothSimulator/obj/
ClothSimulator/ClothSimulatorGUI.dll
ClothSimulator/ClothSimulatorWrapper.dll