*.opensdf
*.sdf
*.suo
*.db
*.pdb
*.ilk
*.vcxproj.user
*.dll.metagen
*.iobj
*.ipdb
ipch/
html/
ClothSimulator.caw
ClothSimulator.VC.opendb
ClothSimulator/._LOG.txt
ClothSimulator/Debug/
ClothSimulator/Release/
ClothSimulator/bin/
ClothSimulator/GuiDebug/
ClothSimulator/GuiRelease/
ClothSimulator/SimDebug/
ClothSimulator/SimRelease/
ClothSimulator/obj/
ClothSimulator/Profile/
ClothSimulator/ClothSimulatorGUI.dll
ClothSimulator/ClothSimulatorGUI.lib
ClothSimulator/ClothSimulatorGUI.exp
ClothSimulator/ClothSimulator.exe